#container {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    font-size: 1.5rem;
    padding: 10px 14px;
    border-radius: 10px;
    border: none;
    background-color: rgb(71, 71, 233);
    font-weight: bold;
    cursor: pointer;
    color: white;
}

button:hover {
    background-color: rgb(33, 33, 231);
}

button:active {
    background-color: rgb(97, 97, 224);
}

input {
    font-size: 2rem;
    width: 150px;
    text-align: center;
}